.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Montserrat, sans-serif;
}

.title {
  color: #282828;
  font-size: 64px;
  font-weight: 700;
}

.btnGroup {
  display: flex;
  align-items: center;
  gap: 0px;
  flex: 1;
}

.divider {
  flex: 1;
  height: 1px;
  background-color: #ddd;
}

.navigation {
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 8px 16px;
  background-color: transparent;
  color: gray;
}

.navigation:hover {
  background-color: gray;
  color: white;
}

.list {
  display: flex;
  margin-top: 40px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  border-radius: 12px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  width: 270px;
  position: relative;
  overflow: hidden;
}

.image {
  aspect-ratio: 1.11;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 0 32px 32px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.itemTitle {
  font-size: 20px;
  font-weight: 500;
  color: #282828;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.amount {
  font-size: 40px;
  font-weight: 600;
  color: #000;
}

.originalPrice {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: line-through;
  margin-right: 8px;
}

.discountBadge {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #393;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  z-index: 1;
  color: #fff;
}
